<div class="mobile-nav">
    <button class="mobile-btn" id="plants-btn" onclick="hideSchedule();">Plants</button>
    <button class="mobile-btn" id="schedule-btn" onclick="hidePlants();">Schedule</button>
</div>

<script src="/javascript/mobile-menu.js"></script>






