<div class="card plant-card good">
    {{#each this}}
    <img src="/assets/img/{{plant.common_name}}.jpg" alt="{{plant.common_name}}">
    <div class="card-title">
        <h4>{{../common_name}}</h4>
    </div>
    {{/each}}
</div>