<div class="card plant-card good">

    <img src="/assets/img/{{imageFile plant.common_name}}.jpg" alt="{{plant.common_name}}">
    <div class="card-title">
        <h4>{{nickname}}</h4>
    </div>

</div>