
{{> mobile-nav}}

<main>
  
    <div class="plant-grid active">
      <div class="card add-plant-card">
        <a class="add-plant" href="/add">+ Add Plant</a>
      </div>

      {{#if userPlants.length}}

      {{#each userPlants as |userPlant|}}

      {{> plant-card userPlant}}

      {{/each}}

      {{else}}

      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
      <div class="card">
      </div>
    </div>

    {{/if}}
  </div>

  <div id="schedule" class="schedule">
    <h1 class="schedule-title">Schedule</h1>

    {{#if userPlants.length}}
    {{> list-items userPlants}}
    {{else}}

    <ul>
      <li>No Tasks</li>
    </ul>

    {{/if}}

  </div>

</main>