<h2>this is the homepage.handlebars view. It was inserted to the main view with a res.render() after a get request for '/'</h2>

<p>
This repo is set up to use express framework for creating web apps. </br> 
It uses mySQL and Sequelize to create databases. </br> 
The server.js file is set up to be served on heroku or locally. </br> 
I created this as a template to start server projects more easily and to wrap my head around what this code is actually doing.

</p>

<p>
    Helper test should show '3': </br>
    <!--this calls a helper function-->
    {{sample_function 1  2}}
</p>



        