<main>
  <div class="plant-grid">
    <div class="card">
      <a class="add-plant"href="#">+ Add Plant</a>
    </div>
    <div class="card">
    </div>
    <div class="card">
    </div>
    <div class="card">
    </div>
  </div>
  <div class="schedule">
    <div class="schedule-dummy">

    </div>
  </div>
</main>