 <link rel="stylesheet" href="/assets/css/login-unique.css" />

<div class="login-main">
    <div class="logo">
        <h1>Plantzzz</h1>
    </div>

{{#if signup}}
{{>signup-partial}}

{{else}}
   {{>login-partial}}
{{/if}}
</div>



