<div class="login-main">
  <div class="logo">
    <h1>Plantzzz</h1>
  </div>

  <div id="login" class="container">
    <h2 class="login-title">Login</h2>
        <div class="login-form">
            <form method="get">
                <label class="user" for="login-username"<span class="hidden">Email</span></label>
                <input id="login-username" type="text" class="form-input" placeholder="Enter email address" required>    
                <label class="password" for="login-password"<span class="hidden">Password</span></label>
                <input id="login-password" type="password" class="form-input" placeholder="Enter password" required>   
                <input type="submit" value="Log In Now">
            </form>  
        </div>

    <a class="login-link" href="#">Sign Up</a>
  </div>
</div>