/* Styles for Mobile Dashboard view */

@import "styles.css";

.mobile-nav {
  display: none;
}

.schedule.active {
  display: flex;
}

.plant-grid.active {
  display: grid;
}

/* Mobile Dashboard styles */
@media only screen and (max-width: 850px) {
  h1 {
    font-size: 48px;
  }

  #title-header {
    margin: 0;
    width: 100%;
  }
  .schedule {
    z-index: 0;
  }

  .spacer {
    display: none;
  }

  .mobile-nav {
    display: flex;
    position: fixed;
    z-index: 1;
    margin-top: 90px;
    width: 100%;
    align-items: flex-end;
    background-color: white;
  }

  .mobile-btn {
    font-family: var(--main-font);
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    background-color: #70b2ce;
  }
  .mobile-btn:hover {
    opacity: 60%;
  }

  .mobile-btn:active {
    opacity: #227a9f;
  }

  .plant-grid {
    display: none;
  }

  .schedule {
    display: none;
  }

  .schedule {
    padding-top: 200px;
  }
  .schedule-title {
    display: none;
  }

  @keyframes flyLeft {
    from {
      opacity: 0;
    }
  }
}
