main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.plant-grid {
    max-width: 70vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 2;
}

.card {
    width: 300px;
    height: 350px;
    margin: 16px;
    display: flex;
    border-radius: 5%;
    border: 2px;
    border-style: dotted;
    border-color: black;
    background: #F1F0F0;
}

.card, .add-plant {
    align-items: center;
    justify-content: center;
}

.schedule {
    max-width: 30vw;
    height: 100vh;
    margin: 20px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #F6EEE1;
}

