/* Styles for the Login / Signup Page */

@import "styles.css";

html {
  height: 100%;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  text-align: center;
  z-index: 100;
}

.logo h1 {
  font-size: 144px;
  font-weight: 100;
  margin: auto;
}

.login-title,
.login-link,
.signup-success {
  text-align: center;
  margin: auto;
}

.form-field.submit {
  text-align: center;
  flex: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  border: 0;
  border-radius: 5px;
  font-family: var(--main-font);
  width: 100%;
  margin: 10px 0px 10px 0px;
  outline: 0;
  padding: 10px;
  background-color: #e9e8e8;
}

label {
  font-family: var(--main-font);
}

.login-submit {
  padding: 10px 0px 10px 0px;
  margin-top: 2rem;
}

.signup-success {
  font-family: var(--main-font);
  font-size: 10;
  animation: fadeIn 3s;
}

/* animation keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .logo h1 {
    font-size: 90px;
  }
}
@media only screen and (max-width: 500px) {

    .logo h1 {
      font-size: 69px;
    }
  }
