.plant-card {
    position: relative;
    overflow: hidden;
    border-style: none;
    animation: fadeIn 2s;
}

.plant-card img {
    width: 100%;
}

.good {
    background-color: #83C195;
}

.fair {
    background-color: #E8C751;
}

.water {
    background-color: #D3705B;
}
