.card-container {
  position: relative;
}

.edit-icon {
  position: absolute;
  top: 8%;
  right: 8%;
  color: #000;
}

.info-icon {
  position: absolute;
  top: 20;
  left: 20;
  color: #000;
}

.card-container i:hover {
  opacity: 60%;
}

.plant-card {
  position: relative;
  overflow: hidden;
  border-style: none;
  animation: fadeIn 2s;
}

.plant-card img {
  width: 100%;
  /* height: -webkit-fill-available; */
}

.good {
  background-color: #83c195;
}

.fair {
  background-color: #e8c751;
}

.null {
  background-color: #fff;
  border-style: dotted;
}
