#taskDiv {
    overflow: scroll; 
    color: #565656;
    width: 70%;
    animation: flyLeft 1.5s;
}
.scheduleTitle
{
    margin-top: 0px;
    border-bottom: 4px dotted  #565656; ; 
    width: 100%;
    text-align: center;
}

.todayDate {
    margin: -20px 1px 10px 1px;
    border-bottom: 4px dotted ;
    font-weight: bold;
    font-size: 38px;
   
}

.taskDate {
    margin: 30px 1px 10px 1px;
    border-bottom: 4px dotted ;
 
    font-weight: bold;
    font-size: 30px;
}

#taskPlant {
    margin: 1px 1px 1px 50px;
    padding: 0px;
    font-weight: 500;
    font-size: 24px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#taskDiv::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #taskDiv {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
